/* Links.css */
.links-container {
  position: absolute; /* 絶対位置指定 */
  top: calc(50px); /* Navbarの下と画面の50%の位置の合計値に */
  left: 50%; /* 左端を画面の50%の位置に */
  transform: translateX(-50%); /* 左右中央揃え */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 500px;
  background-color: #4f8fd3;
  border: 00px solid #6369be;
  box-shadow: 8px 8px 8px -5px #414141;
}

.links-title {
  color: #3643ed;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.links-content a {
  display: block; /* リンクを縦に並べる */
  text-decoration: none;
  color: rgb(240, 240, 246); /* リンクの色 */
  background-color: rgb(21, 36, 154);
  margin: 20px 30px;
  padding: 10px 30px;
  transition: 200ms;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -5px #414141;
  font-size: 1.2rem;
}

.links-content a:hover {
  color: rgb(32, 200, 97); /* マウスオーバー時のリンクの色 */
  cursor: pointer; /* カーソルを指に変更 */
  font-size: 1.25rem; /* フォントサイズを大きく */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 1px solid;
  font-size: 20px;
  cursor: pointer;
}
