body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #92b4d8 !important; /* 水色 */
}

.container,
.reset-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  max-width: 450px; /* これを調整 */
  padding: 10px;
  /* background-color: #4f8fd3; */
  align-items: center;
  /* box-shadow: 8px 8px 8px -5px #414141; */
}

.reset-container {
  margin-top: 20px;
}

.container p {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 8px;
}

.content,
.login-button,
.login-button-e,
.login-button-s,
.reset-button {
  width: 90%;
  max-width: 450px; /* これを調整 */
  color: rgb(245, 245, 249);
  background-color: rgb(21, 36, 154);
  padding: 10px 20px;
  transition: 200ms;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -5px #414141;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin-top: 10px;
}

.login-button {
  color: rgb(21, 36, 154);
  background-color: white;
  padding: 10px 20px;
}

.login-button-e,
.login-button-s {
  margin-top: 50px;
  padding: 10px 10px;
}

.login-button-e {
  width: 100px;
  margin-left: 20px;
  color: rgb(21, 36, 154);
  font-size: 16px;
  background-color: #f9f9f9;
}

.login-button-s {
  background-color: rgb(133, 183, 228);
  width: 120px;
  font-size: 10px;
}

.login-input {
  background-color: #f9f9f9;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.container button:hover {
  background-color: #1eb300;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
}

.button-block {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  padding-right: 50px;
  gap: 45px;
}

.reset-button {
  margin-top: 20px;
  width: 430px;
}

.close-button {
  font-size: small;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .content,
  .login-input {
    width: 100%;
  }
}
