.logout-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  padding: 10px;
  background-color: #f5f7f9;
  align-items: center;
  box-shadow: 8px 8px 8px -5px #414141;
}

.logout-button {
  margin: 20px 30px 20px 30px;
  width: 100%;
  max-width: 400px;
  color: white;
  background-color: rgb(21, 36, 154);
  padding: 10px 20px;
  transition: 200ms;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -5px #414141;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
