/* 基本のスタイル */
.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  background-color: rgb(243, 134, 56);
  padding: 0 20px;
}

.email {
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: all 0.1s;
}

.nav-links a:hover {
  color: cadetblue;
  cursor: pointer; /* カーソルを指に変更 */
  font-size: 1.15em;
}

/* メニューアイコンのスタイル */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* モバイル対応のメディアクエリ */
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 0;
  }
}
