.signup-form-contanier {
  position: absolute; /* 絶対位置指定 */
  top: calc(50px); /* Navbarの下と画面の50%の位置の合計値に */
  left: 50%; /* 左端を画面の50%の位置に */
  transform: translateX(-50%); /* 左右中央揃え */
  background-color: #4f8fd3;
  color: rgb(254, 254, 254);
  padding: 5px 30px 30px 30px;
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 8px -5px #090921;
}

.signup-form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  justify-items: center;
  margin-bottom: -15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form-label {
  margin-bottom: 5px;
  font-size: 20px;
}

.signup-form p {
  font-size: 8px;
  margin-top: -5px;
  margin-bottom: 1px;
  width: 200px;
}

.signup-form-input {
  margin-bottom: 10px;
  height: 30px;
  width: 300px; /* 初期幅を設定 */
  max-width: 500px; /* 最大幅を設定 */
  box-sizing: border-box; /* パディングとボーダーを含める */
}

.signup-form-input-password {
  margin-bottom: 10px;
  height: 25px;
  width: 200px; /* ボタンの幅を除いた幅 */
}
.signup-form-password {
  display: flex;
}

.signup-form-toggle-password {
  padding: 0; /* パディングを小さく */
  background-color: #19b021;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px; /* フォントサイズを小さく */
  box-shadow: 8px 8px 8px -5px #090921;
}
.signup-form-toggle-password:hovar {
  background-color: #1eb300;
}

.signup-password-show-button {
  background-color: rgb(21, 36, 154);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 8px 8px 8px -5px #090921;
  height: 25px;
  text-align: center;
  justify-items: center;
}

.signup-password-show-button:hover {
  background-color: #1eb300;
}

.signup-form-button {
  background-color: rgb(21, 36, 154);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 8px 8px 8px -5px #090921;
  height: 30px;
  width: 305px;
}

.signup-form-button:hover {
  background-color: #1eb300;
  cursor: pointer; /* カーソルを指に変更 */
  font-size: 17px;
}

.signup-form-toggle-password {
  padding: 0; /* パディングを小さく */
  background-color: #8ac6ee;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px; /* フォントサイズを小さく */
  box-shadow: 8px 8px 8px -5px #090921;
  width: 20px; /* 幅を調整 */
  height: 20px; /* 高さを調整 */
}

.signup-form-toggle-password:hover {
  background-color: #1eb300;
  cursor: pointer; /* カーソルを指に変更 */
  font-size: 14px;
}

.signup-success-message {
  background-color: aliceblue;
  color: #0056b3;
  width: 300px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -5px #090921;
}
